<div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <p class="card-title">{{numberOfPhotos}} Photos</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <p class="card-title">{{numberOfFollowers}} Followers</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <p class="card-title">{{numberOfFollowing}} Following</p>
                </div>
            </div>
        </div>
    </div>