<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="" width="100%"/>
        </div>
        <div class="col-lg-6">
            <div>{{user.firstname}} {{user.lastname}}</div>
            <user-type [userType]=user.type></user-type>
            
            <div class="mt-4"></div>
            <user-stats [numberOfPhotos]=user.photos
                        [numberOfFollowers]=user.followers
                        [numberOfFollowing]=user.following></user-stats>
                        
            <div class="mt-4"></div>
            <ratings [rate]=user.rating></ratings>
            <div class="mt-4"></div>
            <user-subscription></user-subscription>
            <div class="mt-4"></div>
            <contact-information></contact-information>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Featured Album</h2>
        </div>
    </div>
</div>