<h6>Contact Information</h6>
<div class="row">
    <div class="col-4">
        Phone Number
    </div>
    <div class="col-8">
        +1 905 923 2342
    </div>
</div>
<div class="row">
    <div class="col-4">
        Address
    </div>
    <div class="col-8">
        23 Jofns Ave
    </div>
</div>
<div class="row">
    <div class="col-4">
        Email
    </div>
    <div class="col-8">
        John.Smth@moahwkcollege.ca
    </div>
</div>
<div class="row">
    <div class="col-4">
        Website
    </div>
    <div class="col-8">
        www.sdfs.com
    </div>
</div>